body {
/*   @include font($segoe, 20px, 400);

background-color: $white;
color: $black;
line-height: px; */
}

h1,
h2,
h3,
p,
img {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
