.btn {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: top;

  &:hover {

  }

  &:active {

  }

  &--submit {
    position: absolute;
    left: 50%;
  }
}
