.btn {
  @include font($proxima, 16px, 600);

  border: 1px solid $white;
  border-radius: 30px;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.7px;
  line-height: 36px;
  outline: none;
  padding: 0 10px;
  padding-bottom: 4px;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;

  &:hover {

  }

  &:active {

  }

  &--more {
    margin-right: 21px;
    padding-left: 32px;
    padding-right: 27px;
  }

  &--download {
    padding-left: 36px;
    padding-right: 36px;
  }

  &--submit {
    background: transparent;
    border: none;
    font-size: 0;
    height: 25px;
    left: 759px;
    padding: 0;
    position: absolute;
    top: 21px;
    width: 27px;
  }

  &--buy,
  &--popular {
    background-color: transparent;
    border: 1px solid $blue-dark-grayish;
    color: $blue-very-dark;
    letter-spacing: -0.1px;
    margin-bottom: 28px;
    padding-bottom: 9px;
    padding-left: 52px;
    padding-right: 55px;
    padding-top: 7px;
  }

  &--popular {
    padding-left: 37px;
    padding-right: 40px;
  }
}
