.contacts {
  min-height: 280px;
  text-align: center;
  padding-bottom: 50px;

  &__title {
    @include container;

    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1.3px;
    line-height: 18px;
    margin-bottom: 58px;
    padding-top: 72px;
  }

  &__social {
    margin-bottom: 70px;
  }

  &__link {
    display: inline-block;
    margin-right: 57px;
    vertical-align: middle;

    &:last-child {
      margin-right: 0;
    }
  }

  &__image {
    fill: $blue-dark;
    transition: all 0.25s ease-in-out;

    &:hover {
      fill: $orange-pure;
    }
  }

  &__copyright {
    letter-spacing: 1.5px;
  }
}
