.download {
  background-image: url("../img/bg-download.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 365px;

  &__wrapper {
    @include container;

    padding-top: 96px;
    text-align: center;
  }

  &__title {
    @include title;

    color: $white-mostly;
    margin-bottom: 99px;
  }

}
