.features {
  min-height: 596px;
  min-width: 280px;
  padding-bottom: 50px;

  &__wrapper {
    @include container-fluid;

    padding: 0 20px;
    padding-top: 74px;
  }

  &__title {
    @include title;

    margin-bottom: 17px;
  }

  &__subtitle {
    margin-bottom: 41px;
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    margin-top: 79px;
    width: 45%;

    &--left {
      text-align: right;
    }

    &--right {
      text-align: left;
    }
  }

  &__item {
    margin-bottom: 110px;
    min-height: 165px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      border: 2px solid $blue-dark-desaturated;
      border-radius: 50%;
      content: "";
      height: 53px;
      position: absolute;
      top: -77px;
      width: 53px;
    }
  }

  &__list--left &__item::after {
    right: 0;
  }

  &__list--right &__item::after {
    left: 0;
  }

  &__item-title {
    @include font($proxima, 20px, 600);

    color: $blue-very-dark;
    display: block;
    line-height: 18px;
    margin-bottom: 20px;
    min-height: 36px;
  }

  &__icon {
    fill: $blue-dark-desaturated;
    position: absolute;
    right: 15px;
    top: -61px;

    &--upload {
      left: 18px;
      right: auto;
      top: -60px;
    }

    &--mini {
      left: 15px;
      right: auto;
      top: -63px;
    }
  }

  &__image {
    display: none;
    box-shadow: 0 1px 8px 0 rgba($black, 0.18);
  }
}

@media #{$break-medium} {
  .features {
    &__subtitle {
      margin-bottom: 31px;
    }

    &__content {
      justify-content: center;
    }

    &__list {
      margin-top: 49px;
      width: 30%;

      &--left {
        margin-right: 200px;
      }
    }

    &__item {
      margin-bottom: 90px;
      min-height: auto;

      &::after {
        display: block;
        top: -7px;
      }
    }

    &__item-title {
      min-height: auto;
    }

    &__list--left &__item::after {
      right: -80px;
    }

    &__list--right &__item::after {
      left: -80px;
    }

    &__icon {
      right: -65px;
      top: 9px;

      &--upload {
        left: -63px;
        top: 10px;
      }

      &--mini {
        left: -65px;
        top: 6px;
      }
    }
  }
}

@media #{$break-large} {
  .features {
    &__content {
      justify-content: space-between;
    }

    &__list {
      width: 25%;

      &--left {
        margin-right: 0;
      }
    }

    &__item {
      margin-bottom: 142px;
    }

    &__image {
      display: block;
    }
  }
}
