.menu {
  align-items: flex-end;
  color: $white;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: right;
  z-index: 10;

  &__trigger {
    @include font($proxima, 18px, 600);

    background: none;
    border: none;
    color: $gray-very-light;
    cursor: pointer;
    height: 30px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    padding: 0;
    position: relative;
    text-align: left;
    transition: all 0.25s ease-in-out;
    width: 92px;
    z-index: 10;
  }

  &__trigger > span {
    background-color: $white;
    height: 2px;
    position: absolute;
    right: 0;
    top: 13px;
    transition: background 0.3s 0.5s;
    width: 21px;

    &::before,
    &::after {
      background-color: $white;
      content: "";
      height: 2px;
      right: 0;
      position: absolute;
      transition: top 0.3s 0.3s, transform 0.3s;
      width: 100%;
    }

    &::before {
      top: -6px;
    }

    &::after {
      top: 6px;
    }
  }

  &--show &__trigger {
    font-size: 0;
  }

  &--show &__trigger > span {
    background: none;

    &::before,
    &::after {
      top: 0;
    }

    &::before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &::after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }

  &__list {
    display: none;
    transition: all 0.25s ease-in-out;
  }

  &--show &__list {
    display: block;
  }

  &__item {
    cursor: pointer;
    margin-bottom: 7px;
  }

  &__link {
    @include font($proxima, 18px, 400);

    color: $white;

    &:hover {
      color: $orange-pure;
      transition: all 0.25s ease-in-out;
    }
  }

  // TODO: анимация для бургера
  // TODO: изменение цвета в зависимости от фона/блока
}
