.prices {
  min-height: 670px;

  &__wrapper {
    @include container;

    padding-top: 60px;
  }

  &__title {
    @include title;
  }

  &__subtitle {
    margin-bottom: 30px;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    text-align: center;
  }
}
