.subscribe {
  background-color: $black-mostly;
  background-image: url("../img/bg-subscribe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 312px;
  min-width: 280px;
  padding-bottom: 50px;

  &__wrapper {
    @include container-fluid;

    padding-top: 113px;
  }

  &__title {
    @include title;

    color: $white;
    letter-spacing: 0.7px;
    margin-bottom: 17px;
  }

  &__subtitle {
    color: $white;
    font-weight: 300;
    letter-spacing: 1.6px;
    margin-bottom: 51px;
    text-align: center;
  }

  &__form {
    margin: 0 auto;
    max-width: 624px;
    position: relative;
    width: 62%;

    &::after {
      border-left: 1px solid $white;
      content: "";
      color: $white;
      height: 19px;
      right: 32%;
      position: absolute;
      top: 23px;
      width: 1px;
    }
  }

  &__email {
    @include font($proxima, 20px, 300);

    background-color: rgba($white, 0.2);
    border: none;
    border-radius: 35px;
    color: $white;
    letter-spacing: 0.7px;
    line-height: 18px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 35%;
    padding-top: 22px;
    text-align: right;
    width: 100%;

    &::placeholder {
      color: $white;
    }
  }
  // TODO: отправка по нажатию на enter
  &__icon {
    fill: $white;
    right: 0;
    position: absolute;
    top: 0;

    &:hover {
      fill: $orange-pure;
      transition: all 0.25s ease-in-out;
    }
  }
}
