.tweets {
  background-color: $blue-dark-very-grayish;
  background-image: url("../img/bg-tweets.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 520px;
  padding-bottom: 50px;

  &__wrapper {
    @include container;

    padding-top: 69px;
    text-align: center;
  }

  &__title {
    @include title;

    color: $white;
    margin-bottom: 17px;
  }

  &__subtitle {
    color: $white;
    margin-bottom: 39px;
    text-align: center;
  }

  &__list {
    margin: 0 auto;
    margin-bottom: 37px;
    width: 60%;

    &--show .tweets__item:nth-child(n+4) {
      display: block;
    }
  }

  &__item {
    color: $blue-dark-grayish2;
    cursor: pointer;
    line-height: 26px;
    margin-bottom: 46px;
    transition: all 0.25s ease-in-out;

    &:nth-child(n+4) {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: $white;
    }
  }
}
