.welcome {
  background-image: url("../img/bg-welcome.jpg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 720px;

  &__wrapper {
    @include container;

    padding-top: 240px;
  }

}
